<% if logged_in? %>

<!- need to have form to create new team name, points and goals scored -!>

  <form action='/team_stats' method="post">
    Content:
    <input type="text" name="content"><br>
    Create Your Team:

    <input type="submit" name="submit" id="submit">

    <input type="submit" name="submit">

    Points and Goals Scored:

    

  </form>

  <% else %>
      <h1> You must be logged in to update your team's stats </h1>
  <% end %>
