<% if logged_in? %>

<!- need to have form to create new team name, points and goals scored -!>

  <form action='/team_stats' method="post">
    Team Name:
    <input type="text" name="team name"><br>
    Points:
    <input type="number" name="points"><br>
    Goals Scored:
    <input type="number" name="goals scored"><br>

    <input type="submit" name="submit" id="submit">

  </form>

  <% else %>
      <h1> You must be logged in to update your team's stats </h1>
  <% end %>
