<h1>Create A New Team, <%= current_manager.username %>!</h1>

<% if logged_in? %>

  <form action='/team_stats' method="post">
    Team Name:
    <input type="text" name="team_name"><br>
    Points:
    <input type="number" name="points"><br>
    Goals Scored:
    <input type="number" name="goals_scored"><br>

    <input type="submit" name="submit" id="submit">

  </form>

<% else %>
  <h1> You must be logged in to update your team's stats </h1>
<% end %>
