<h1>All Stats</h1>

<% @manager.team_stats.each do |stats| %>
    <label>Team Name: </label><%= stats.team_name %><br/>
    <label>Points: </label><%= stats.points %><br/>
    <label>Goals Scored: </label><%= stats.goals_scored %>
<% end %>

