<h1>Manager Signup</h1>
<br>
<form action='/signup' method='post'>
    <label>UserName:</label> 
    <input type="text" name="username"><br/>
    <label>Email:</label>
    <input type="text" name="email"><br/>
    <label>Password:</label>
    <input type="password" name="password"><br/>
    <br>
    <input type="submit" value="Submit">
  
</form>